<div class="liftBanner">
	<h1><?php echo self::_('Librelio'); ?></h1>
</div>
<div class="dashboard-box">
	<div class="grid">
		<div class="col-1-8 textcenter">
			<div class="lift-status good"><?php echo self::_('normal'); ?></div>
		</div>
		<div class="col-3-8">
			<h2><?php echo self::_('CloudSearch Document Sync'); ?></h2>
			<div class="col-1-2">
				<?php echo self::_('Last'); ?>: <%- settings.last_sync %>
			</div>
			<div class="col-1-2">
			<?php echo self::_('Next'); ?>: <%- settings.next_sync %>
			</div>
		</div>
		<div class="col-1-2">
			<input id="batch_interval" value="<%- settings.batch_interval.value %>" class="small-text" type="text" />
			<select id="batch_interval_unit">
				<option value="m"><?php echo self::_('Minutes'); ?></option>
				<option value="h"><?php echo self::_('Hours'); ?></option>
				<option value="d"><?php echo self::_('Days'); ?></option>
			</select>
			<input type="button" id="batch_interval_update" class="button-primary" value="<?php echo self::_('Save'); ?>"/>
			<input type="button" id="batch_sync_now" class="button-primary right" value="<?php echo self::_('Sync Queue Now'); ?>"/>
			<input type="button" id="setting_page_btn" class="button-primary" value="<?php echo self::_('Settings'); ?>"/>
		</div>
	</div>
</div>

<div class="dashboard-box">
	<div class="grid">
		<div class="col-1-2">
			<?php echo self::_('Override Search'); ?>
			<div class="toggle">
				<input id="override_search" name="searchOverride" type="checkbox"<%= settings.override_search ? 'checked="checked"' : '' %> />
				<label for="searchOverride" class="switch"></label>
			</div>
		</div>
		<div class="col-1-2 textright">
			<input type="button" id="lift_reset" class="button-primary" value="<?php echo self::_('Reset Librelio'); ?>"/>
		</div>
	</div>
</div>

<div id="document_queue">
</div> <!--end #document_queue -->
<div id="error_log">

</div> <!--end #error_log -->
