<h2><?php echo self::_('Search Domain Already Exists'); ?></h2>
<p>
	<?php echo self::_('The domain name you selected already exists on this AWS account.  If you continue, Lift will apply its index schema on top of any existing schema. Are you sure this is the domain you want to use?'); ?>
</p>
<form>
	<div class="button-row">
		<input type="button" id="cancel_domain" class="button" value="<?php echo self::_('Cancel'); ?>" />
		<input type="button" id="confirm_domain" class="button-primary" value="<?php echo self::_('Use this Domain'); ?>" />
	</div>
</form>
