<h2><?php echo self::_('Error! The Domain No Longer Exists.'); ?></h2>
<p>
	<?php echo self::_('The domain you previously set is no longer reachable on Amazon Cloud Search. It may have been deleted.'); ?>
</p>
<p>
	<?php echo self::_('You can either setup a new domain, or connect to a different account by updating your Access Keys.'); ?>
</p>
<form>
	<div class="button-row">
		<input type="button" id="unset_domainname" class="button-primary" value="<?php echo self::_('Update Domain'); ?>" />
	</div>
</form>
