<h1><?php echo self::_('Librelio Settings'); ?></h1>
<a id="back" href="#"><?php echo self::_('Back'); ?></a>
<h2><?php echo self::_('External Content'); ?></h2>
<div>
  <label><?php echo self::_('External Content Prefix'); ?></label>
  <input type="text" value="<%- settings.external_url_prefix %>" name="external_url_prefix" id="external_url_prefix" data-type="setting" />
</div>
<div>
  <label><?php echo self::_('S3 Document Definition Suffix'); ?></label>
  <input type="text" value="<%- settings.external_s3_doc_suffix %>" name="external_s3_doc_suffix" id="external_s3_doc_suffix" data-type="setting" />
</div>
<br />
<h2><?php echo self::_('Policy'); ?></h2>
<h3><?php echo self::_('Paid External Content'); ?></h3>
<p>
  <?php echo self::_('Show paid external content only for selected roles bellow.'); ?>
</p>
<div>
  <select id="view_paid_external_content_for" name="view_paid_external_content_for" multiple style="width: 250px; height: 200px;">
    <% _.each( roles, function(role_info, role) { %>
    <option value="<%= role %>" <%- role_info.capabilities.librelio_view_paid_external_content ? 'selected' : '' %>><%- role_info.name %></option>
    <% }); %>
  </select>
</div>
<div>
  <input type="button" id="setting_save" class="button-primary" value="<?php echo self::_('Save'); ?>"/>
</div>
<div id="error_log">

</div> <!--end #error_log -->
